<!-- templates/books/book_list.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Task List</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'books/site.css' %}" />
</head>
<body>
    <div class="menu">
        <h1>Task List</h1>
        <a href="{% url 'addtask' %}">Add Task</a>
        <ul>
            {% for task in object_list %}
                <li>{{ task.title }} - {{ task.description }} ({{ task.due_date }})</li>
            {% empty %}
                <li>No Tasks Available.</li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>